@media (max-width: 1290px) {
  .header{
    max-width: 98.3vw;
  }
  .slogan{
    width: 100%;
  }
  .products{
    width: 100%;
  }
  #vievAll{
    width: 25.7%;
  }
  .imgFooter{
    width: 100%;
  }
  .congrFooter{
    width: 100%;
  }
  .congrTitle{
    width: 100%;
  }
  .congrTxt{
    width: 100%;
  }
  .formFooter{
    width: 100%;
  }
  .contForForm{
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .infoHeader {
    padding: 36px 40px;
  }
  .slogan {
    width: auto;
  }

  .cardsProd{
    gap: 10px !important;
  }
  .card{
    max-width: calc((100% - 10px) / 3);
  }
}
@media (max-width: 1152px) {
  .header{
    max-width: 98.2vw;
  }
}
@media (max-width: 1088px) {
  .header{
    max-width: 98.1vw;
  }
}
@media (max-width: 1030px) {
  .header{
    max-width: 98vw;
  }
}
@media (max-width: 978px) {
  .header{
    max-width: 97.9vw;
  }
}
@media (max-width: 932px) {
  .header{
    max-width: 97.8vw;
  }
}
@media (max-width: 890px) {
  .header{
    max-width: 97.7vw;
  }
}
@media (max-width: 852px) {
  .header{
    max-width: 97.6vw;
  }
}
@media (max-width: 816px) {
  .header{
    max-width: 97.5vw;
  }
}
@media (max-width: 783px) {
  .header{
    max-width: 97.4vw;
  }
}
@media (max-width: 1060px) {
  .products{
    padding: 120px 60px;
  }
}
@media (max-width: 970px) {
  .congrFooter{
    padding: 90px;
  }
}
@media (max-width: 910px) {
  .congrFooter{
    padding: 80px;
  }
}
@media (max-width: 784px) {
  .all{
    max-width: 100vw;
  }
  .card{
    min-height: auto !important;
  }
  .card img{
    height: auto !important;
  }
}