@media (max-width: 1290px) {
  .header{
    max-width: 100vw;
  }
  .slogan{
    width: 100%;
  }
  .products{
    width: 100%;
  }
  #vievAll{
    width: 25.7%;
  }
  .imgFooter{
    width: 100%;
  }
  .congrFooter{
    width: 100%;
  }
  .congrTitle{
    width: 100%;
  }
  .congrTxt{
    width: 100%;
  }
  .formFooter{
    width: 100%;
  }
  .contForForm{
    width: 100%;
  }
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  .infoHeader {
    padding: 36px 40px;
  }
  .slogan {
    width: auto;
  }
}