@import url(../../style/xlDisplay/menu.css);
@import url(../../style/xlDisplay/products.css);
@import url(../../style/xlDisplay/footer.css);

@import url(../../style/lgDisplay/style.css);
@import url(../../style/mdDisplay/style.css);
@import url(../../style/smDisplay/style.css);
@import url(../../style/xsDisplay/style.css);

@font-face {
  font-family: 'inter';
  src: url(../../fonts/inter/Inter-VariableFont_opsz\,wght.ttf);
  font-weight: 100 900;
}
@font-face {
  font-family: 'manrope';
  src: url(../../fonts/manrope/Manrope-VariableFont_wght.ttf);
  font-weight: 100 900;
}

:root {
  --bgColor: #ECECEC;
  --gapCards : 24px;
}
html body * {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.all {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bgColor);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header{
  width: 1260px;
}
.topHeader {
  width: 100%;
  height: 720px;
  background-image: url(../../img/headerBgImg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.infoHeader {
  width: 100%;
  height: 96px;
  padding: 36px 120px;
  display: flex;
  justify-content: space-between;
}
.topName {
  display: inline-block;
  cursor: pointer;
}

.contacts {
  margin-top: -4px;
  width: 243px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  font-family: 'inter';
}
.phone {
  max-height: 32px;
  width: 179px;
  display: flex;
  gap: 8px;
  justify-content: end;
  align-items: center;
  margin-left: 8px;
}
.phone a {
  text-decoration: none;
  color: #1B2129;
  font-weight: bold;
}
.phoneNumber {
  color: #1B2129;
  font-size: 12px;
  letter-spacing: 2px;
  opacity: 0;
  display: none;
}
.phoneNumber.activeNumber {
  display: block;
  animation: showNumber 250ms linear forwards;
}
@keyframes showNumber {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}
.phoneNumber.notActive{
  display: none;
  animation: noneNumber 250ms linear forwards;
}
@keyframes noneNumber {
  from{
    display: block;
    opacity: 1;
    transform: translateY(0);
  }to{
    display: none;
    opacity: 0;
    transform: translateY(-10px);
  }
}

.phoneIcon {
  cursor: pointer;
}
.phoneIcon:hover{
  transform: scale(1.03);
}
.phoneIcon:active{
  transform: scale(0.997);
}
.topMenu {
  cursor: pointer;
}
.topMenu:hover{
  transform: scale(1.03);
}
.topMenu:active{
  transform: scale(0.997);
}

.slogan{
  width: 411px;
  height: 112px;
  position: absolute;
  margin-top: 525px;
}
.slogan h2{
  font-family: 'manrope';
  font-size: 56px;
  color: #FFFFFF;
  font-weight: bold;
  letter-spacing: 0px;
  margin: 0;
  line-height: 45px;
}