@media (max-width: 770px) {
  .infoHeader .slogan h2{
    font-size: 48px;
  }
  .productRecomended h3{
    font-size: 40px;
  }
  .products{
    padding: 72px;
  }
  .flex{
    flex-wrap: wrap;
    gap: 0;
  }
  .card{
    min-width: 100%;
    min-height: 757px;
  }
  .card img{
    width: 600px;
    height: 600px;
  }
  .someProd h3{
    font-size: 40px;
  }
  #vievAll {
    width: 100%;
  }
  .congrTitle h4{
    font-size: 40px;
  }
  .congrFooter {
    width: 100%;
    height: 416px;
    padding: 120px 72px;
  }
  .formFooter {
    width: 100%;
    padding: 120px 72px;
  }
  .formFooter h4{
    font-size: 40px;
  }
  .showProd{
    gap: 24px;
  }

  .contForForm{
    grid-template-columns: 1fr;
    gap: 80px;
  }
  .inputsForm{
    gap: 16px;
  }
  .formInfo{
    gap: 24px;
  }
  
  html, body {
    overflow-x: hidden;
  }

  .menu{
    height: 720px;
  }
  .headerMenu, .infoHeader{
    padding: 36px 72px !important;
  }
  .sectTopMenu{
    margin-top: 56px;
    margin-left: 72px;
  }
  .contactInfo a{
    font-size: 16px;
  }
}
@media (max-width: 730px) {
  .imgFooter{
    height: 400px;
    background-size: cover;
  }
}
@media (max-width: 680px) {
  .congrFooter{
    padding: 72px;
  }
}
@media (max-width: 620px) {
  .congratulation{
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }
  .congrFooter{
    padding: 48px 20px;
    height: auto;
  }
  .congrTxt{
    height: auto;
  }
  .products{
    padding: 72px 20px;
  }
  .imgFooter{
    height: 300px;
  }
}