@media (max-width: 415px) {
  .products{
    padding: 64px 20px 96px;
    max-width: 100vw !important;
  }
  .productRecomended h3{
    font-size: 32px;
  }
  .cardsProd{
    margin-top: 48px;
  }
  .card{
    margin-top: 0;
    margin-bottom: 40px;
    min-height: auto;
  }
  .card img{
    height: 280px;
  }
  .cardsProd .card:last-child{
    margin-bottom: 0px;
  }
  .someProd h3{
    font-size: 32px;
  }
  .someProd{
    width: 70%;
    margin-top: 96px;
  }
  .showProd{
    margin-top: 40px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .itemProd h4{
    font-size: 18px;
  }
  .someProd + .showProd{
    margin-top: 47px;
  }
  #vievAll{
    margin-top: 40px;
  }
  .imgFooter{
    height: 200px;
  }
  .congrFooter{
    padding: 48px 20px;
    height: auto;
  }
  .congrTitle{
    height: 94px;
  }
  .congrTxt{
    height: auto;
  }
  .congratulation{
    gap: 24px;
  }
  .congrTitle h4{
    font-size: 32px;
  }
  .formFooter{
    padding: 64px 20px;
  }
  .formFooter h4{
    font-family: 32px;
  }
  .contForForm{
    margin-top: 48px;
    gap: 48px;
  }
}
@media (max-width: 480px) {
  .header{
    max-width: 100vw !important;
  }
  .infoHeader{
    padding: 28px 55px !important;
  }
  .topName{
    width: 152px;
    height: 18px;
  }
  .contacts{
    right: 20px;
  }
  .phoneIcon {
    width: 24px;
    height: 24px;
    margin-top: -5px;
  }
  .topMenu{
    width: 24px;
    height: 24px;
  }
  .slogan h2{
    font-size: 36px;
    display: inline-block;
  }
  .slogan{
    margin-top: 561px !important;
    width: auto !important;
    display: inline-block;
  }
  .headerMenu{
    padding: 20px !important;
  }
  .sectTopMenu{
    margin-left: 20px;
    margin-top: 32px;
  }
}
@media (max-width: 365px) {
  .infoHeader{
    padding: 25px 25px !important;
  }
  .infoHeader .slogan h2{
    font-size: 40px;
  }
  .topHeader{
    height: 570px !important;
  }
  .slogan{
    margin-top: 420px !important;
  }
  .menu{
    height: 570px !important;
  }
  .itemMenu{
    gap: 20px;
  }
  .someProd{
    width: 75%;
  }
}
@media (max-width: 355px) {
  .congrTitle{
    height: auto;
  }
  .congrTitle h4{
    line-height: 35px;
  }
}
@media (max-width: 285px) {
  .infoHeader{
    padding: 25px 10px !important;
  }
  .products {
    padding: 34px 10px 56px;
    max-width: 100vw !important;
  }
  .cardsProd{
    margin-top: 25px;
  }
  .card{
    margin-bottom: 20px;
  }
  .someProd{
    margin-top: 50px;
    width: 100%;
  }
  .formFooter {
    padding: 45px 10px;
  }
  .contForForm {
    margin-top: 35px;
    gap: 35px;
  }
}
@media (max-width: 276px) {
  .formFooter h4 {
    font-size: 35px;
  }
}